extends layout 

block content 

    if(currentUser)

        h2 You are logged in! 

        a(href="/index/user/" + currentUser._id) Account
        a(href="/log-out") Log out

    else

        h2 Log In!

        form(action="/log-in" method="POST")

            input(type="text" placeholder="Username" name="username")
            input(type="text" placeholder="Password" name="password")

            button(type="submit") Log in

        br

        a(href="/sign-up") Sign up