extends layout 

block content 

    if(currentUser)
    
        h2 My Messages

        if messages.length > 0
        
            each message in messages 

                dl
                    dt 
                        a(href="/index/message/" + message._id) #[strong #{message.title}]
                    dd #{message.text}

                    p #{message.beautifiedDate}

        else 
            p You have not created any messages yet!

    else 

        h2 Cannot Access Clubhouse!

        a(href="/") Log in
        a(href="/sign-up") Sign up