extends layout

block content

    if currentUser 

        h2 Create Message

        form(method="POST")

            input(name="title" placeholder="Title" value=(message===undefined ? "" : message.title) required)
            
            br
            textarea(cols="75" rows="15" name="text" placeholder="Message" required) #{message===undefined ? "" : message.text}
            
            br

            input(name="timestamp" type="date" value=(message===undefined ? "" : message.formattedDate) required)
            input(name="creator" type="text" value=currentUser._id readonly)

            button(type="submit") Create

            if(message !== undefined)
                a#cancelLink(href="/index/message/" + message._id) Cancel

            else 
                a#cancelLink(href="/index") Cancel

    else 

        h2 Cannot Access Clubhouse!

        a(href="/") Log in
        a(href="/sign-up") Sign up