extends layout 

block content 

    if currentUser
    
        if messages.length === 0
            h2 Messages
        
        else
            h2 #{messages[0].creator.firstname}'s Messages

        if messages.length > 0
        
            each message in messages 

                dl
                    dt 
                        a(href="/index/message/" + message._id) #[strong #{message.title}]
                    dd #{message.text}

                    p #{message.beautifiedDate}

        else 
            p This account has no messages to display.

    else 

        h2 Cannot Access Clubhouse!

        a(href="/") Log in
        a(href="/sign-up") Sign up